<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title -%}
    {% if title %}
        <title>Про Flask - {{title}}</title>
    {% else %}
        <title>Про Flask</title>
    {% endif %}
    {% endblock %}
</head>
<body>
    {% block content -%}
        {% block mainmenu -%}
            <ul>
                {% for m in menu -%}
                    <li>{{m}}</li>
                {% endfor -%}
            </ul>
    {% endblock mainmenu -%}
    {% if title -%}
        <h1>{{title}}</h1>
    {% else -%}
        <h1>Про Flask</h1>
    {% endif -%}
    {% endblock -%}
</body>
</html>