{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавление статьи</h1>
    <form method="post">
        <label for="title"></label><input type="text" name="title" id="title" class="form-control"><br>
        <label for="intro"></label><textarea name="intro" id="intro" class="from-control"></textarea><br>
        <label for="text"></label><textarea name="text" id="text" class="from-control"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>
{% endblock %}